*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5a555570;
    font-family: Arial, sans-serif;
}
.container{
    background: #ffffff;
    padding: 25px;
    width: 400px;
    border-radius: 8px;
}
.container h1{
    text-align: center;
    margin-bottom: 15px;
    padding: 8px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
}
textarea{
    width: 100%;
    height: 120px;
    padding: 10px;
    resize: none;
    font-size: 16px;
    border-radius: 5px;
}
.counter{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 16px;
}
