body{

margin:0;

font-family:Poppins;

background:#f4f9f0;

}


main{

max-width:700px;

margin:auto;

padding:20px;

}


h1{

text-align:center;

color:#48a300;

}


h1 span{

color:#61481c;

}


.container{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding:20px;
    margin: 30px auto;
    background-color:#88bab4;
    border-radius: 8px;
}


.add-goal{

display:flex;

gap:10px;

margin-bottom:20px;

}
#goalInput{
    height: 12px;
    outline: none;
    border: 2px solid #b2b1b1;
    border-radius: 8px;
}

input{

flex:1;

padding:12px;

font-size:16px;

}


button{

background:#48a300;

border:none;

color:white;

padding:10px 15px;

border-radius:6px;

cursor:pointer;

}


.goal{

display:flex;

gap:10px;

align-items:center;

margin-bottom:12px;

padding:10px;

border:1px solid #eee;

border-radius:8px;

}


.goal span{

flex:1;

outline:none;

}


.completed span{

text-decoration:line-through;

color:#48a300;

}


.delete{

background:red;

}


.update{

background:orange;

}


.progress-bar{

height:25px;

background:#eee;

border-radius:20px;

overflow:hidden;

margin-bottom:20px;

}


#progressValue{

height:100%;

width:0;

background:#48a300;

display:flex;

align-items:center;

justify-content:center;

color:white;

font-size:14px;

}


.quote{

text-align:center;

margin-top:30px;

color:#555;

}
