*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:0;
    font-family:Poppins;
    background:#f4f9f0;
}
.container{
    width: 450px;
    display: flex;
    flex-direction: column;
    padding:20px;
    margin: 30px auto;
    background-color:#88bab4;
    border-radius: 8px;
}
.heading{
    text-align:center;
    margin-bottom:10px;
    font-size: 30px;
    color:#000000;
}
.heading span{
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #ff4d00;
}
.title{
    text-align: left;
    margin-bottom: 10px;
    color:#000000;
}
.title span{
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #ff4d00;
}
.add-goal{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}
.goal-input{
    height: 35px;
    outline: none;
    border: 2px solid #b2b1b1;
    border-radius: 6px;
}
input{
    flex:1;
    padding:12px;
    font-size:16px;
}
button{
    background:#48a300;
    border:none;
    color:white;
    padding:10px 15px;
    border-radius:6px;
    cursor:pointer;
}
.goal{
    display:flex;
    gap:10px;
    align-items:center;
    margin-bottom:12px;
    padding:10px;
    border:1px solid #eee;
    border-radius:8px;
}
.goal span{
    flex:1;
    outline:none;
}
.completed span{
    text-decoration:line-through;
    color:#48a300;
}
.delete{
    background:red;
}
.progress-bar{
    height:25px;
    background:#eee;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:20px;
}
#progressValue{
    height:100%;
    width:0;
    background:#48a300;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:14px;
}
.quote{
    text-align:center;
    margin-top:30px;
    color:#555;
}
