*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #f5f5f5;
}
.container{
    max-width: 500px;
    margin: 50px auto;
    background: #bbe8ea;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 5px, 0.1);
}
.container h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}
.container h1 span{
    padding: 5px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #ff2f00;
}
.border-bottom{
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #ff2f00;
    margin-bottom: 10px;
}
.title{
    width: 130px;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #ff2f00;
}
.title i{
    color: #6aff00;
}