*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}
.container{
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    border: 1.5px solid #333;
}
.container h1{
    margin-bottom: 15px;
}
.container p{
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    color: #000000;
    border: 1.5px solid #333;
}
#btn{
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: all ease 0.3s;
}
#btn:hover{
    background: #929500;
    transform: scale(1.01);
}
