*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f0f0f0ec;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    box-shadow: 0 0 10px #0000001a;
}
.header{
    font-weight: 800;
    color: #ff3300;
}
.header span{
    padding: 5px 8px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #007bff;
}

.toggleBtn{
    padding: 6px 8px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 50px;
    border: 2px solid #727272;
    cursor: pointer;
}